/* Frames */

img.header
{
	margin: 0px 20px;
	width: 611px;
	-webkit-box-shadow: 0px 10px 15px -7px rgba(0,0,0,0.7); 
	box-shadow: 0px 10px 15px -7px rgba(0,0,0,0.7);
	border: solid 1px black;
	border-bottom: none;
}

div.liras-classic
{
	background: #6f6f6f;
	margin: 0px 20px 20px 20px;
	padding: 25px;
	-webkit-box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.7);
	box-shadow: 0px 5px 20px 5px rgba(255,255,255,0.7);
	border: solid 1px black;
	border-top: none;
}

div.sentence-avatar
{
  min-height: 40px;
  vertical-align: middle;
  margin-left: -41px;
}

/* Paragraphs and elements */

div.liras-classic p
{
	font-size: 1.3rem;
}

div.liras-classic p:last-child
{
	margin-bottom: 0px;
}

p.sentence.liras
{
	color: #54236A;
}

p.sentence.nox
{
	color: #c46743;
}

img.sentence-avatar
{
	width: 36px;
	height: 36px;
	margin-right: 5px;
	vertical-align: middle;
	opacity: 0;
	transition: ease 1s;
}

div.sentence-avatar:hover img.sentence-avatar
{
	opacity: 1;
	transition: ease 1s;
}

div.sentence-avatar:hover
{
	transition: ease 1s;
}
